<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="tr" xml:lang="tr">
 <head>
  <title>Gaplan Gezegeni</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="tr"/>
  <link rel="stylesheet" type="text/css" href="css/turuncu.css" />
 </head>
 <body>
  <!-- *** [Ana Tablo] ***************************************************** -->
  <table cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td id="ustCubuk" colspan="2"><div id="gzegenResim">&nbsp;</div></td>
   </tr>
   <tr>
    <td valign="top">
     <!-- *** [Orta Alan Tablosu] ****************************************** -->
     <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
       <td id="tanitimAlani"><div id="tanitimResim">&nbsp;</div></td>
      </tr>
      <tr>
       <td id="iletiAlani">
        <div id="iletiKatmani">&nbsp;</div>
       </td>
      </tr>
     </table>
     <!-- *** [Orta Alan Tablosu Sonu] ************************************* -->
    </td>
    <td id="sagCubuk">&nbsp;</td>
   </tr>
   <tr>
    <td id="altCubuk" colspan="2">&nbsp;</td>
   </tr>
  </table>
  <!-- *** [Ana Tablo Sonu] ************************************************ -->
 </body>
</html>
