img.turuncu_box {
	background-color: #EF5A00;
}

img.kahve_box {
	background-color: #5E3B25;
}

img.lacivert_box {
	background-color: #3E095F;
}

img.mavi_box {
	background-color: #55C5C6;
}

img.yesil_box {
	background-color: #8AFF00;
}
