

body {
    background-color   : #5E3B25;
    color              : #333300;
    font-family        : sans-serif, luxi sans, trebuchet ms, tahoma,
                         verdana, bitstream vera sans;
    font-size          : 0.8em;
    font-style         : normal;
    margin             : 0px;
    padding            : 0px;
}

img {
    border             : none;
}

td#ustCubukSol {
    background-color   : #000000;
    border-bottom      : 1px solid #FFFFFF;
    height             : 46px;
}

td#ustCubukSag {
    background-color   : #000000;
    border-bottom      : 1px solid #FFFFFF;
    height             : 46px;
    padding            : 10px;
    text-align         : right;
}

div#gzegenResim {
    background         : url(../img/kahve/gzegen.png);
    background-position: top left;
    background-repeat  : no-repeat;
    height             : 46px;
}

td#sagCubuk {
    background-color   : #100A06;
    border-left        : 1px solid #FFFFFF;
    height             : 900px;
    padding            : 10px;
    vertical-align     : top;
    width              : 250px;
}

td#tanitimAlani {
    background         : url(../img/kahve/tanitimArka.png);
    vertical-align     : top;
}

div#tanitimResim {
    background         : url(../img/kahve/tanitim.png);
    background-position: top left;
    background-repeat  : no-repeat;
    height             : 206px;
}

td#altCubuk {
    background-color   : #000000;
    border-top         : 1px solid #FFFFFF;
    height             : 46px;
}

td#iletiAlani {
    padding            : 30px;
}

table#iletiTablosu {
    height             : 400px;
}

table#iletiTablosu td {
    background-color   : #BDAFA6;
    border             : 1px solid #5C5C5C;
    padding            : 10px;
}

a {
    color              : #291000;
}

a:hover {
    color              : #293A79;
}

a.kullanici {
    color              : #D0C2A8;
}

a.kullanici:hover {
    color              : #FFFFFF;
}

h1 {
    color            : #BEB096;
    font-size        : 1.2em;
}

h2 {
    font-size        : 1.1em;
}

h3 {
    color            : #BEB096;
    font-size        : 0.9em;
}

